[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = https://github.com/iissnan/hexo-theme-next
[submodule "themes/hexo-theme-primer"]
	path = themes/hexo-theme-primer
	url = https://github.com/yumemor/hexo-theme-primer
[submodule "themes/architect"]
	path = themes/architect
	url = https://github.com/pages-themes/architect
